body {
    background-color: #ccc;
    background-image: url(./octopaper.jpg);
    background-blend-mode: screen;
    background-repeat: repeat;
    width: 100vw;
    height: 100vw;
}

#survey-form {
    line-height: 2em;
}

.form-label {
    display: inline-block;
    width: 30%;
    text-align: right
}

.form-field {
    display: inline-block;
    width: 50%;
    text-align: left;
}
