body {
    background-color: #ccc;
    background-image: url(./octopaper.jpg);
    background-blend-mode: screen;
    background-repeat: repeat;
}

@media screen and (max-width: 576px) {
    .form-line {
        display: flex;
        flex-direction: column;
        /*border: 1px solid red;*/
    }

    .form-label {
        min-width: 100%;
        text-align: left !important;
        /*border: 1px solid green;*/

    }
    .form-field {
        min-width: 100%;
        /*border: 1px solid blue;*/
    }

    select {
        width: 100%;
    }
}

#survey-form {
    line-height: 2em;
}

.form-label {
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
    line-height: 1.5em;
}

.form-field {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#submit {
    font-size: 1.8rem;
    font-weight: bold;
}